html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

img {
  width: 100%;
}

.masthead {
  position: relative;
  z-index: 0;
}

.header-img {
  display: block;
}

.logo {
  position: fixed;
  top: 14%;
  left: 0%;
  overflow: hidden;
}

main {
  position:relative;
  z-index: 100;
}

h1,h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

h1 {
  padding: 1em 1.5em 0em 1.5em ;
  color: #fff;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

hr {
  margin: 0.5em 1.5em 0em 1.5em;
}

nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav li {
  display: inline-block;
  padding: 1em 0.5em 1em 0.5em;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.75em;
  letter-spacing: 1px;

}

p {
  font-family: 'Lora', serif;
  line-height: 1.5em;
  margin: 0;
  padding: 1em;
}

.nav {
  background-color: #231f20;
}

.about {
  background-color: #f9f4f2;
}

.restaurant {
  display: block;
}

.contact {
  background-image: url("../img/contact.png");
  background-size: 100%;
  padding: 2em;
  margin: 1em 1em 0em 1em;
  color: #fff;
}

.contact p {
  font-size: .9em;
  line-height: 1.5em;
  padding-top: 0em;
}

.hours {
  background-color: #d8d3d1;
  padding: 1em;
}

.hours p{
  font-size: .9em;
  padding-top: 0em;
}

.crepes {
  background-color: #f9f4f2;
  padding: 1em;
}

.crepes p {
  padding-top: 0em;
}

.chocolate-img {
  display: block;
}

.chocolate {
  background-color: #3c2415;
  padding: 1em;
  color: #fff;
}

.chocolate p {
  padding-top: 0em;
}

.coffee-img {
  display: block;
}

.coffee {
  background-color: #231f20;
  padding: 1em;
  color: #fff;
}

.coffee p {
  padding-top: 0em;
}

.events-img {
  margin: 1em 1em 0em 1em;
  width: calc(100% - 2em);
}
