html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

img {
  width: 100%;
}

.masthead {
  position: relative;
  z-index: 0;
}

.logo {
  position: fixed;
  top: 14%;
  left: 0%;
  overflow: hidden;
}

main {
  position:relative;
  z-index: 100;
}
